body[data-controller="users"][data-action="edit"],
body[data-controller="users"][data-action="new"] {
  .vertical-table {
    width: fit-content;
    border-collapse: collapse;
    width: 25rem;
    margin-bottom: 1.5rem;

    th,
    td {
      border: 1px solid #ddd;

      text-align: left;
    }

    th {
      font-weight: normal;
      background-color: #f9f9f9;
      padding: 0.3rem 2rem 0.3rem 0.6rem;
      label {
        margin-bottom: 0rem;
        .badge {
          font-size: 0.6rem;
          padding: 0.3rem 0.5rem;
          justify-content: center;
          align-items: center;
          display: flex;
        }
      }
    }
    td {
      font-size: 0.9rem;
      // padding: 0rem;
      padding: 0.3rem;
      input,
      select {
        // height: 100%;
        // width: 100%;
        font-size: 0.9rem;
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
