body[data-controller="users"][data-action="home"] {
  .home_status_area {
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: large;
    margin-bottom: 0.5rem;
    font-weight: normal;
    padding: 0.5rem 1rem;
  }
  .date-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .date {
      font-size: 1.4rem;
      margin: auto 0;
    }
    .weekday {
      font-size: 1.2rem;
      margin: 0.2rem;
    }
  }
  .clock {
    font-size: 2.6rem;
    display: flex;
    justify-content: center;
  }

  .button_container {
    width: 18rem;
    .btn {
      display: flex; /* コンテンツを中央に揃える */
      flex-direction: column;
      align-items: center; /* 縦中央 */
      justify-content: center; /* 横中央 */
      text-align: center; /* テキスト中央 */
      .bi-box-arrow-in-right,
      .bi-box-arrow-right {
        font-size: 1.4rem;
      }
      .bi-cup-hot {
        font-size: 1.2rem;
      }
    }
  }
  table {
    tbody {
      border-top-color: #052c65;
    }
  }
}
