.header-container {
  background-color: $header-bg-color;
  color: $header-text-color;

  background-image: linear-gradient(
      -45deg,
      rgba(225, 245, 254, 0.6) 0%,
      rgba(225, 245, 254, 0.6) 14.286%,
      rgba(187, 222, 251, 0.6) 14.286%,
      rgba(187, 222, 251, 0.6) 28.572%,
      rgba(144, 202, 249, 0.6) 28.572%,
      rgba(144, 202, 249, 0.6) 42.858%,
      rgba(100, 181, 246, 0.6) 42.858%,
      rgba(100, 181, 246, 0.6) 57.144%,
      rgba(66, 165, 245, 0.6) 57.144%,
      rgba(66, 165, 245, 0.6) 71.42999999999999%,
      rgba(33, 150, 243, 0.6) 71.43%,
      rgba(33, 150, 243, 0.6) 85.71600000000001%,
      rgba(30, 136, 229, 0.6) 85.716%,
      rgba(30, 136, 229, 0.6) 100.002%
    ),
    linear-gradient(
      -135deg,
      rgb(187, 222, 251) 0%,
      rgb(187, 222, 251) 12.5%,
      rgb(144, 202, 249) 12.5%,
      rgb(144, 202, 249) 25%,
      rgb(100, 181, 246) 25%,
      rgb(100, 181, 246) 37.5%,
      rgb(66, 165, 245) 37.5%,
      rgb(66, 165, 245) 50%,
      rgb(33, 150, 243) 50%,
      rgb(33, 150, 243) 62.5%,
      rgb(30, 136, 229) 62.5%,
      rgb(30, 136, 229) 75%,
      rgb(25, 118, 210) 75%,
      rgb(25, 118, 210) 87.5%,
      rgb(21, 101, 192) 87.5%,
      rgb(21, 101, 192) 100%
    );

  &.admin-mode {
    background-image: linear-gradient(
        -45deg,
        rgba(238, 238, 238, 0.6) 0%,
        // 明るいグレー
        rgba(238, 238, 238, 0.6) 14.286%,
        rgba(200, 200, 200, 0.6) 14.286%,
        // 中間的なグレー
        rgba(200, 200, 200, 0.6) 28.572%,
        rgba(158, 158, 158, 0.6) 28.572%,
        // スレートグレー
        rgba(158, 158, 158, 0.6) 42.858%,
        rgba(117, 117, 117, 0.6) 42.858%,
        // チャコールグレー
        rgba(117, 117, 117, 0.6) 57.144%,
        rgba(66, 66, 66, 0.6) 57.144%,
        // ダークグレー
        rgba(66, 66, 66, 0.6) 71.429%,
        rgba(33, 33, 33, 0.6) 71.43%,
        // 黒に近いグレー
        rgba(33, 33, 33, 0.6) 85.716%,
        rgba(0, 0, 0, 0.6) 85.716%,
        // 黒
        rgba(0, 0, 0, 0.6) 100.002%
      ),
      linear-gradient(
        -135deg,
        rgb(200, 200, 200) 0%,
        // 中間的なグレー
        rgb(200, 200, 200) 12.5%,
        rgb(158, 158, 158) 12.5%,
        // スレートグレー
        rgb(158, 158, 158) 25%,
        rgb(117, 117, 117) 25%,
        // チャコールグレー
        rgb(117, 117, 117) 37.5%,
        rgb(66, 66, 66) 37.5%,
        // ダークグレー
        rgb(66, 66, 66) 50%,
        rgb(33, 33, 33) 50%,
        // 黒に近いグレー
        rgb(33, 33, 33) 62.5%,
        rgb(0, 0, 0) 62.5%,
        // 黒
        rgb(0, 0, 0) 75%,
        rgb(77, 77, 77) 75%,
        // 暗いグレーでアクセント
        rgb(55, 55, 55) 87.5%,
        // より濃いグレー
        rgb(33, 33, 33) 100% // 最暗色
      );
  }

  .wrapper.app-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1rem;

    .app-header__start {
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      white-space: nowrap;
      .brand {
        font-weight: bold;
        text-decoration: none;
        color: $header-text-color;
        margin-right: 1rem;
      }
    }

    .app-header__end {
      white-space: nowrap;
      display: flex;
      align-items: center;
      color: $header-text-color;

      .status_area {
        font-size: 0.9rem;
        font-weight: normal;

        width: fit-content;
        // padding: 0.3rem 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .status_icon {
          // margin: auto 0.2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $text-color;
          // text-align: center;
          i {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0.1rem;
          }
        }
        .status_text {
          color: $text-color;
        }
      }
      // ドロップダウン
      .nav-item {
        .nav-link {
          margin: 0 0.5rem;
          display: flex;
          align-items: center;
          &:hover {
            font-weight: bold;
          }
          .name_area {
            .name {
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .san {
              display: flex;
              align-items: end;
              justify-content: center;
              font-size: 0.9rem;
              margin: 0 0.1rem;
            }
            // トグル
            i {
            }
          }
        }
        // 中身
        .dropdown-menu {
          .dropdown-item {
            i {
            }
            .menu-text {
            }
          }
        }
      }
    }
  }
}
