// The Header Media Queries
// Tweak as per your needs
.site-header {
  position: relative;
  background-color: #def7ff;

  .site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

    // @media (min-width: 800px) {
    //   padding-top: 0;
    //   padding-bottom: 0;
    // }

    .site-header__start {
      display: flex;
      align-items: center;
      margin: auto 1rem;
      white-space: nowrap;
      .brand {
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
      }
    }

    .site-header__end {
      white-space: nowrap;
      display: flex;
      align-items: center;
      .status_area {
        color: inherit;

        font-size: 0.9rem;

        width: fit-content;
        // padding: 0.3rem 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .status_text {
        }
        .status_icon {
          // margin: auto 0.2rem;
          display: flex;
          align-items: center;
          justify-content: center;

          // text-align: center;
          i {
            display: flex;
            align-items: center;
            justify-content: center;
            // margin: 0.1rem;
          }
        }
      }
      .nav-item.dropdown {
      }
      .nav-link {
        margin: 0 0.5rem;
        display: flex;
        align-items: center;
        .name_area {
          &:hover {
            font-weight: bold;
          }
          .name {
            // background-color: aqua;
            display: flex;

            align-items: center;
            justify-content: center;
          }
          .san {
            // background-color: burlywood;
            display: flex;
            align-items: end;
            font-size: 0.9rem;
            margin: 0 0.1rem;
          }
        }
      }
    }
  }
}
