.app-layout {
  color: $text-color;
  // flex: 1;
  // min-width: fit-content;
  position: relative;
  width: auto;
  // padding-top: 1rem;
  // padding-bottom: 7rem;
  padding-bottom: 1rem;
  min-height: 100vh;

  .app-sidebar {
    width: 200px;
    height: 100%; // 画面全体の高さ
    transition: width 0.3s;
    position: sticky; // サイドバーを画面の高さ内でスクロール固定
    top: 4rem; // ヘッダーの下に配置

    @media (max-width: 900px) {
      width: 50px;
      display: flex;
      justify-content: center;
    }
  }

  .content-wrapper {
    color: $text-color;
    width: 1000px;
    display: flex;
    flex-direction: column;
  }
}
