.sidebar-container {
  white-space: nowrap;
  .nav-link {
    color: $text-color;
    i {
      color: $text-color;
    }
    .menu-text {
      color: $text-color;
    }
    &.current {
      font-weight: bold;
    }

    &:hover {
      background-color: $background-hover-color;
    }
  }
}
.icon {
  font-size: 1.2rem; // アイコンのサイズを調整
}

@media (max-width: 1100px) {
  .sidebar-container {
    .nav-link {
      display: flex; /* フレックスで中央寄せ */
      align-items: center;
      justify-content: center; /* 完全中央寄せ */
      padding: 1rem;
      i {
        font-size: 1.2rem;
        display: flex; /* フレックスで中央寄せ */
        align-items: center;
        justify-content: center; /* 完全中央寄せ */
        margin: 0.5rem;
      }
      .menu-text {
        display: none; /* ラベルを非表示 */
      }
    }
  }
}
