.sidebar_inner {
  color: $text-color;
  .nav-link {
    .status_area {
      font-size: 0.8rem;

      .status_icon {
      }

      .status_text {
      }
    }
    &.current {
      font-weight: bold;
    }

    &:hover {
      background-color: $background-hover-color;
    }
  }
}
.icon {
  font-size: 1.2rem; // アイコンのサイズを調整
}

@media (max-width: 900px) {
  .menu-text {
    display: none; /* ラベルを非表示 */
  }

  .nav-link {
    display: flex; /* フレックスで中央寄せ */
    align-items: center;
    justify-content: center; /* 完全中央寄せ */
    // padding: 0.5rem; /* 必要に応じて間隔を調整 */
    padding: 1rem;
  }

  i {
    font-size: 1.2rem;
    // margin-right: 0; /* アイコンだけの中央寄せ */
    display: flex; /* フレックスで中央寄せ */
    align-items: center;
    justify-content: center; /* 完全中央寄せ */
    margin: 0.5rem;
  }
}
