- breadcrumb :users_edit, @user
- content_for(:title, '社員編集')

= form_with model: @user, url: @user.new_record? ? users_path : user_path(@user), local: true, html: { class: 'needs-validation', novalidate: true } do |f|
  = render "users/user_form", { f: f, user: @user }
  = f.submit "更新", class: 'btn btn-primary'
