html {
  overflow-x: hidden;
}

body {
  color: $text-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
  background-color: $background-color;
  // position: relative;
  width: 100%;
  // overflow: hidden; // はみ出しを隠す
  min-width: 700px;
}
