// // 基本カラー
$primary-color: #0d6efd;
$secondary-color: #6c757d;
$accent-color: #ec970f;
$background-color: #f8f9fa;
$text-color: #212529;
$muted-text-color: #6c757d;

// // 状態カラー
// $success-color: #28A745;
// $warning-color: #FFC107;
// $error-color: #DC3545;
// $info-color: #17A2B8;

// // 濃淡の指定
// $primary-color-light: #DDEEFF;
// $primary-color-dark: #0056B3;

// // コンポーネントカラー
$header-bg-color: #343a40;
$header-text-color: rgb(255, 255, 255);
// $footer-bg-color: #212529;
// $link-color: $primary-color;
// $link-hover-color: $primary-color-dark;
$background-hover-color: #e9ecef;

$text-primary-emphasis: #052c65;
