
-# %table
-#   %thead
-#     %tr
-#       %th 日付
-#       %th 出勤時間
-#       %th 退勤時間
-#       %th 勤務時間(残業時間)
-#   %tbody
-#     - @dates.each do |date|
-#       - work = @works_by_date[date]&.first
-#       %tr
-#         %td= formatted_date_with_weekday(date) # 日付表示
-#         %td= work ? formatted_time_only(work.start_datetime) : "-"
-#         %td= work&.end_datetime ? formatted_time_only(work.end_datetime) : "-"
-#         %td
-#           - if work&.working_hours
-#             = "#{formatted_time_only(work.working_hours * 3600)} (#{formatted_time_only(work.overtime_hours * 3600)})"
-#           - else
