body[data-controller="works"][data-action="index"] {
  table {
    color: var(--bs-gray-900);
    table-layout: auto; /* 内容に基づいて列幅を調整 */
    width: auto; /* テーブル幅も内容に応じて可変 */
    white-space: nowrap; /* テキストを1行に収める */
    font-size: 0.9rem;
    thead {
      tr {
        th {
          color: var(--bs-gray-900);
          position: sticky;
          top: 0;
          z-index: 1;
          padding: 0.4rem 1rem;
        }
      }
    }
    tbody {
      border-top-color: var(--bs-gray-900);

      tr {
        td {
          color: var(--bs-gray-900);
          padding: 0.4rem 1rem;
        }
        .sunday,
        .holiday {
          color: rgb(230, 29, 29);
          background-color: rgb(255, 229, 229);
          .holiday_name {
            font-size: 0.8rem;
          }
        }
        .saturday {
          color: rgb(45, 45, 172);
          background-color: rgb(231, 239, 255);
        }
      }
    }
  }
}
