body[data-controller="works"][data-action="show"] {
  .date-group {
    display: flex;
    margin-bottom: 1rem;
    font-size: 1rem;
    align-items: center;
    .date {
    }
    .btn {
      i {
        font-size: 0.9rem;
      }
    }
  }
  .card {
    .card-header {
    }

    .card-body {
      padding: 0.7rem;
      gap: 1rem;
      display: flex;

      gap: 0.5rem;
      flex-direction: column;

      .card-title {
        font-weight: bold;
      }
      .card-text {
      }
      .sub-text {
        margin-top: 0.5rem;
        color: $muted-text-color;
        font-size: 0.7rem;
      }
    }
  }
}
