.flash_window {
  position: absolute; /* 親要素に基づいて配置 */
  top: 5%; /* 上部付近に配置 */
  left: 50%; /* 水平方向の中央 */
  transform: translateX(-50%); /* 水平方向の中央揃え */
  z-index: 5;
  padding: 1rem;
  width: 30rem;
  display: flex;
  align-items: center;
}
