/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// リセットスタイル (normalizeやresetなど)
@import "normalize"; // ブラウザの標準スタイルをリセット

// 変数とミキシン (ベースの設定)
@import "variables"; // 全体で使う変数を定義
@import "mixins"; // ヘルパーミキシンを追加

// サードパーティのライブラリやフォント
@import "font-awesome"; // 外部のライブラリやフォント

// コンポーネント (再利用可能な部品、ボタンやフォームなど)
@import "components/*";

// レイアウト (ページ全体の構造、ヘッダーやフッターなど)
@import "layouts/*";

// ページ (各ページ固有のスタイル)
@import "pages/*";

// フォント
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");

// 全体のスタイル設定
html {
  overflow-x: hidden;
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Noto Sans JP", sans-serif;
    background-color: var(--bs-tertiary-bg);
    overflow-x: hidden;
    .main_container {
      justify-content: center;
      color: var(--bs-gray-900);

      // min-width: 400px;

      flex: 1; /* 空いたスペースを埋める */
      min-width: fit-content;
      // background-color: #007bff;

      // @media screen and (max-width: 767px) {
      //   width: 100%;
      //   border-style: solid;
      //   border-color: rgb(242, 170, 255);
      // }
      // @media screen and (min-width: 768px) {
      //   width: 50%;
      //   // background-color: rgb(153, 255, 255);
      //   border-style: solid;
      //   border-color: rgb(153, 255, 255);
      // }

      .main_content_wrapper {
        color: var(--bs-gray-900);
        // width: 100%;
        // width: fit-content;
        width: 1000px;

        .main_content {
          height: 100%;
          background-color: white;
          border-radius: 20px;
          padding: 1rem 2rem;
          .page-title {
          }

          .selected {
            background-color: #007bff;
            color: white;
          }
        }
      }
    }
  }
}
turbo-frame {
  border: 1px red solid;
  display: block;
}

turbo-frame::before {
  content: "Frame: #" attr(id);
  position: relative;
  top: -14px;
  right: -4px;
  display: inline-block;
  color: red;
  font-size: 12px;
  z-index: 9999;
  background-color: white;
  padding: 4px;
  border: 1px red solid;
}
.breadcrumb_container {
  padding: 0rem 1rem;
  font-size: 0.9rem;
  color: var(--bs-secondary-color);
}
