%nav
  %ol.breadcrumb
    %li
      %a{href: admin_users_path} ホーム
    %li ユーザー編集
.fs-2.page-title.fw-bold.mb-3 ユーザー編集

= form_with model: @user, url: @user.new_record? ? admin_users_path : admin_user_path(@user), local: true, html: { class: 'needs-validation', novalidate: true } do |f|
  = render "admin/users/user_form", { f: f, user: @user }
  = f.submit "更新", class: 'btn btn-primary'
