- breadcrumb :users_new
- content_for(:title, '社員登録')

= form_with model: @user, url: admin_users_path, local: true, html: { class: 'needs-validation', novalidate: true } do |f|
  = render "user_form", { f: f, user: @user }
  .d-flex.gap-2
    = link_to '戻る', admin_users_path, class: 'btn btn-secondary'
    = f.submit "登録", class: 'btn btn-primary'