%header.site-header
  .wrapper.site-header__wrapper
    .site-header__start
      %a.brand{href: "#"} 勤怠管理


    .site-header__end
      %div.status_area.d-flex
        %span.status_icon
          = working_status_icon(@current_user.working_status)
        %span.status_text
          = current_user.working_status_str


