.sidebar.d-flex.flex-column.flex-shrink-0.bg-body-tertiary

  %ul.nav.nav-pills.flex-column.mb-auto

    %li
      %a.nav-link.link-body-emphasis{href: home_users_path}
        %i.bi.bi-clock-history.mx-2
        %span.menu-text タイムカード
    %li.nav-item
      %a.nav-link.link-body-emphasis{"aria-current" => "page", href: user_path(current_user.id)}
        %i.bi.bi-person.mx-2
        %span.menu-text 社員情報
    %li
      %a.nav-link.link-body-emphasis{href: "#"}
        %i.bi.bi-file-ruled.mx-2
        %span.menu-text 記録
    %li
      %a.nav-link.link-body-emphasis{href: "#"}
        %span.menu-text Products
    %li
      %a.nav-link.link-body-emphasis{href: "#"}
        %span.menu-text Customers
