%ul.nav.nav-pills.flex-column.mb-auto.sidebar_inner

  %li
    %a.nav-link.link-body-emphasis{href: home_users_path}
      %i.bi.bi-clock-history.mx-2.text-dark
      %span.menu-text.text-dark ホーム
  %li
    %a.nav-link.link-body-emphasis{href: user_works_path(current_user.id)}
      %i.bi.bi-file-ruled.mx-2.text-dark
      %span.menu-text.text-dark 勤務履歴
