.d-flex.flex-column.flex-shrink-0.p-3.bg-body-tertiary{style: "width: 280px;"}
  %a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.link-body-emphasis.text-decoration-none{href: "/"}
    %svg.bi.pe-none.me-2{height: "32", width: "40"}
      %use{"xlink:href" => "#bootstrap"}
    %span.fs-4 Sidebar
  %hr/
  %ul.nav.nav-pills.flex-column.mb-auto

    %li
      %a.nav-link.link-body-emphasis{href: home_users_path}
        %svg.bi.pe-none.me-2{height: "16", width: "16"}
          %use{"xlink:href" => "#speedometer2"}
        タイムカード
    %li.nav-item
      %a.nav-link.link-body-emphasis{"aria-current" => "page", href: user_path(current_user.id)}
        %svg.bi.pe-none.me-2{height: "16", width: "16"}
          %use{"xlink:href" => "#home"}
        社員情報
    %li
      %a.nav-link.link-body-emphasis{href: "#"}
        %svg.bi.pe-none.me-2{height: "16", width: "16"}
          %use{"xlink:href" => "#table"}
        Orders
    %li
      %a.nav-link.link-body-emphasis{href: "#"}
        %svg.bi.pe-none.me-2{height: "16", width: "16"}
          %use{"xlink:href" => "#grid"}
        Products
    %li
      %a.nav-link.link-body-emphasis{href: "#"}
        %svg.bi.pe-none.me-2{height: "16", width: "16"}
          %use{"xlink:href" => "#people-circle"}
        Customers
